.row-tech {
  justify-content: flex-start !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: inherit;
}
.colum-tech {
  align-self: inherit;
  cursor: default;
}
.content-tech {
  padding: 2em 2em 2em 2em
}
.info-box {
  padding: 1em 1em 1em 1em;
}
.icon-design::before {
  content: "\ebb9";
}
@media (min-width: 1200px) {
  .row-tech .colum-tech:nth-child(1) {
    width: 50% !important;
  }
  .row-tech .colum-tech:nth-child(2) {
    width: 50% !important;
  }
}
@media (min-width: 768px) {
  .row-tech colum-tech:nth-child(1) {
    width: 45%;
  }
  .row-tech colum-tech:nth-child(2) {
    width: 55% !important;
  }
}
.info-box:focus, .info-box:hover {
  transform: scale(1.1);
  background-color: #101721;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: $success;
  -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
  -webkit-transition: all .4s ease;
  /* transition: all .4s ease; */
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  li svg {
    color: $success;
  }
}
.skills-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  li span{
    color: $white;
  }
}
.item-head {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1em;
  color: $white;
}
@media only screen and (max-width: 600px) {
  .console {
    margin: 8rem 1rem 0rem 1rem !important;
  }
}
