.console {
  border-color: #333333;
  border-radius: 18px;
  border: 1px;
  z-index: 10;
  box-shadow: 0px 4px 3px 5px #333333;
  margin-top: 20rem !important;
  /* // box-shadow: #333333; */
}
.skills-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  li span{
    color: $white;
  }
}
.item-head {
  color: $success;
}
@media only screen and (max-width: 600px) {
  .console {
    margin: 12rem 1rem 0rem 1rem !important;
  }
}
