#contacto {
  /* The image used */
  background-image: url('assets/img/animations/parallax.png');

  /* Set a specific height */
  min-height: 780px;
  max-height: 1080px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(180deg, #0000007A 0%, #000000 100%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.title-brand {
  color: #fff;
  z-index: 100;
}
.title__text {
  font-size: 6rem;
  line-height: 0.9;
  margin-bottom: 1.6rem;
  text-align: left;
  font-weight: 600;
  font-style: normal;
  font-family: 'Poppins-SemiBold', sans-serif;
  line-height: 1.1em;
  letter-spacing: 0em;
  --para-spacing: 0;
  text-transform: uppercase;
  --head-indent: 0;
  --numeric-list-marker: none;
  list-style-type: none;
  text-align: center;
  text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
  margin-top: 15%;
}
.title__subtext {
  color: #8193b2;
  font-size: 2.1rem;
  font-family: 'Poppins-SemiBold', sans-serif;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1em;
}
.container-buttoms {
  flex-wrap: wrap;
  -ms-flex-direction: inherit;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .title-brand {
    // margin: 7rem 1rem 0rem 1rem;
    // box-sizing: inherit !important
  }
  .title__text {
    font-size: 3rem;
    margin-bottom: 1.4rem;
  }
  .title__subtext {
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.1em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title-brand {
    // margin: 7rem 4rem;
    // box-sizing: inherit !important
  }
  .title__text {
    font-size: 5rem;
    margin-bottom: 1.6rem;
  }
  .title__subtext {
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.1em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title-brand {
    // margin: 7rem 0rem 2rem 6rem;
    // box-sizing: inherit !important
  }
  .title__text {
    font-size: 5rem;
    margin-bottom: 1.6rem;
  }
  .title__subtext {
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.1em;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .title-brand {
    // margin: 14rem 0rem 0rem 5rem;
  }
  .title__text {
    font-size: 4rem;
    margin-bottom: 1.6rem;
  }
  .title__subtext {
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.1em;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title-brand {
    // margin-top: 13rem;
    // right: 9%;
  }
  .title__text {
    font-size: 5rem !important;
  }
}

