.card-landing {
  color: #fff;
  overflow: hidden;
  margin-top: 30%;
  margin-left: 13%;
  .card {
    border: 1px solid #202637;
    background-color: #112240 !important;
  }
  .form-img {
    top: 0;
    margin: 10rem ;
    position: absolute;
    width: 150px;
    transform: rotate(70deg);
  }
}
.title__cardlanding {
  font-size: 2rem;
  line-height: 0.9;
  margin-bottom: 1.6rem;
  font-weight: normal;
  text-align: left;
  text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
}

.vibration {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media only screen and (max-width: 411px) {
  .card-landing {
    .form-img {
      top: 05rem;
      margin: 10rem ;
      position: absolute;
      width: 150px;
      transform: rotate(70deg);
    }
  }
}
@media only screen and (max-width: 600px) {
  .card-landing {
    margin: 3rem 0rem 0rem 0rem !important;
    .form-img {
      margin: 10rem 3rem 0rem 9rem ;
      width: 80px;
      transform: rotate(20deg);
    }
  }
  .title__cardlanding {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .btn-primary {
    margin-left: 2rem !important;
  } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card-landing {
    margin: 1rem 1rem 0rem 2rem !important
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-landing {
    margin: 1rem 8rem 0rem 8rem !important;
    .form-img {
      margin: 20rem 3rem 0rem 9rem ;
      width: 120px;
      transform: rotate(62deg);
    }
  }
  .card-landing .btn-primary{
    margin-left: 45%;
  }
  .card-landing .btn-warning{
    margin-left: 43%;
  }
  .title__cardlanding {
    font-size: 2rem;
    line-height: 0.9;
    margin-bottom: 1.6rem;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-landing {
    margin: 14rem 0rem 0rem 1rem !important;
        .form-img {
      margin: 10rem 3rem 0rem 9rem ;
      width: 120px;
      transform: rotate(62deg);
    }
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-landing {
    margin: 12rem 0rem 0rem 2rem !important;
    .form-img {
      margin: 10rem 3rem 0rem 9rem ;
      width: 120px;
      transform: rotate(62deg);
    }
  }
  .btn{
    align-items: center;
  }
}