.experiences {
  margin: 6rem 8rem 5rem 1rem;
}
.text-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
}
.b-card-dark {
  background-color: transparent !important;
  .card-body {
    padding: 0 !important;
  }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
@media (max-width: 1080px) {
  .text-heading::after {
      width: 250px;
  }
}
.text-heading::after {
  content: "";
  display: block;
  position: relative;
  width: 80%;
  height: 1px;
  margin-left: 20px;
  background-color: $success;
}

.tab-experiences {
  .nav-item {
    border: 0;
    .nav-link {
      border: 0;
      border-radius: 0px;
      border-left: 2px solid $gray !important;
      color: $gray;
      transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;
    }
    .active {
      transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
      -webkit-box-align: center;
      border-left: 2px solid $green !important;
      background-color: transparent;
      color: $green !important;
    }
  }
  .card-header {
    padding: 0 !important;
  }
}
.panel-content-experiences:focus {
  outline: 2px dashed $green;
  outline-offset: 3px;
}
.company {
  a {
    color: $white;
  }
  a:hover {
    color: $green;
    outline: 0px;
  }
}
@media (min-width: 320px) {
  .experiences {
    margin: 1rem;
  }
}
@media (min-width: 768px) {
  .experiences {
    margin: 5rem;
  }
}
@media (min-width: 992px) {
  .experiences {
    margin: 9rem;
  }
}