.experiences {
  margin-top: 5rem;
}
.b-card-dark {
  background-color: transparent !important;
  .card-body {
    padding: 0 !important;
  }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.tab-experiences {
  .nav-item {
    border: 0;
    .nav-link {
      border: 0;
      border-radius: 0px;
      border-left: 2px solid $gray !important;
      color: $gray;
      transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;
    }
    .active {
      transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
      -webkit-box-align: center;
      border-left: 2px solid $green !important;
      background-color: transparent;
      color: $green !important;
    }
  }
  .card-header {
    padding: 0 !important;
  }
}
.panel-content-experiences:focus {
  outline: 2px dashed $green;
  outline-offset: 3px;
}
.company {
  a {
    color: $white;
  }
  a:hover {
    color: $green;
    outline: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .tab-experiences .tab-content {
    padding-top: 22px;
    // margin: 5rem 1rem 1rem 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .experiences {
    // margin: 5rem;
  }
}
@media only screen and (min-width: 992px) {
  .experiences {
    // margin: 9rem;
  }
}