.orientation__left {
  left: 40px;
}
.orientation__right {
  right: auto;
  right: 40px;
}
.floting__vertial__link {
  width: 40px;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  color: $white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  svg {
    box-sizing:content-box !important;
  }
}
.floting__vertial__link li {
  padding: 10px;
}
.floting__vertial__link li a {
  color: $white;
}
.floting__vertial__link li span {
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.floting__vertial__link li a:hover, :focus {
  svg {
    color: $green !important;
    border-color: $green !important;
    transform: translateY(-3px);
  }
  span {
    color: $green !important;
    border-color: $green !important;
    transform: translateY(-3px);
  }
}
.floting__vertial__link li a:focus{
  outline: 2px dashed $green;
  outline-offset: 3px;
}
.floting__vertial__link::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: $white;
}

@media only screen and (max-width: 600px) {
  .floting__vertial__link {
    position: fixed;
    // flex-direction: inherit;
    // margin: 0rem 1.5rem 0rem 1.5rem;
    bottom: 0;
  }
  .floting__vertial__link::after {
    display: none !important;
    height: 0px !important;
  }
  .floting__vertial__link li {
    padding: 1px;
  }
  .orientation__left {
    left: 8px;
  }
  .orientation__right {
    display: none !important;
  }
}
