@import '@/assets/scss/vendors/bootstrap-vue/customs-vars.scss';
@import '@/assets/scss/fade/fadein.scss';
@import '@/assets/scss/main/flotingVerticalLinks.scss';
@import '@/assets/scss/main/brandName.scss';
@import '@/assets/scss/main/cardlanding.scss';

@import '@/assets/scss/main/about.scss';
@import '@/assets/scss/main/experiences.scss';
@import '@/assets/scss/main/proyects.scss';
@import '@/assets/scss/main/typewriting.scss';


html{
  scroll-behavior: smooth;
}
body{
  background: #0a192f;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
  background: #0a192f;
}
body::-webkit-scrollbar-thumb {
  border: 3px solid $dark;
  border-radius: 10px;
  background: #0a192f;
}

.app {
  width: 100% !important;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.logo-img {
  width: 52px;
  height: 52px;
}

.navbar {
  box-shadow: 0 10px 30px -10px rgba(2,12,27,0.7);
  backdrop-filter: blur(40px);
}

.text-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 30px;
  width: 100%;
}
.carousel-radius {
  *.carousel-inner {
    border-radius: 15px !important;
  }
}
@media (max-width: 1080px) {
  .text-heading::after {
      width: 250px;
  }
}
.text-heading::after {
  content: "";
  display: block;
  position: relative;
  width: 50%;
  height: 1px;
  margin-left: 20px;
  background-color: $success;
}

@media (max-width: 992px) {
  .navbar-brand {
    margin-left: 2%;
  }
}
/* The typing effect */

