.typewriter p{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: -1px solid $success; /* The typwriter cursor */
  white-space:nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  color: transparent;
  animation: 
    typing 3.5s steps(60, end),
    blink-caret .75s step-end infinite;
  -webkit-animation: typing 1.0s forwards; /* for less modern browsers */
      animation: typing 1.0s forwards;
  -webkit-animation: typing 3ss forwards; /* Safari 4.0 - 8.0 */
  animation: typing 3s forwards;
  /* animation-name: typing; 
  animation-duration: 3s;
  animation-fill-mode: forwards; */
}

@-webkit-keyframes typing {
  from { 
    width: 0;
  }
  to {
    color: #ffff;
    width: 100%;
  }
}
@keyframes typing {
  from { 
    width: 0;
  }
  to {
    color: #ffff;
    width: 100%;
  }
}
.typewriter p:nth-child(2) {
  animation-delay: 2s;
}
